@import url('partialscss/header.css');
@import url('partialscss/footer.css');

.container-apply {
  margin-top: 5em;
}

.field1,
.field2,
.field3,
.field4,
.field5 {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1em;
}

.input-pers {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #e6e8e9;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.btn-lightred {
  background-color: #da3807;
  color: white;
  margin-top: 0.5em;
}

.btn.btn-link {
  margin-top: 0.5em;
  color: gray;
}

.btn.btn-link:hover {
  text-decoration: none;
  color: black;
}
