* {
    font-family: "Roboto Condensed", sans-serif;
}

/* start logo section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EC5044;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 0;
    list-style-type: none;
}

.navbar > div.logo {
    margin-left: 1em;
}

.navbar > .logo > img {
    width: 18%;
    height: 50%;
}

.navbar > .logo > span {
    font-size: 20px;
    text-transform: uppercase;
}

.nav-links > li {
    padding: 5px 15px;
    /* font-size: 12px; */
}

.nav-links li > a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.white-elt {
    color: white;
}

@media (max-width: 767.98px) {
    .navbar > div.logo {
        margin-left: auto;
        margin-right: auto;
        width: 33%;
    }

    ul.nav-links {
        margin-left: auto;
        margin-right: auto;
    }
}

/* end logo section */

.search-school > h1 {
    text-transform: uppercase;
}