@import url('partialscss/header.css');
@import url('partialscss/footer.css');

.container-searchschool {
  padding-top: 3em;
  padding-bottom: 4em;
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #e6e8e9;
}

h3.title-searchschool {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.container-searchschool > :nth-child(2) {
  margin-left: 3em;
}

.found-grpschool div > div:nth-child(3) {
  margin-right: auto;
}

.found-grpschool div > div:nth-child(1) {
  margin-left: auto;
}

.container-searchschool div:nth-child(2) > div:nth-child(2) {
  margin-top: 2em;
}

main > section:nth-child(2) {
  margin-bottom: 3em;
}

.btn.btnclearfilter {
  background-color: orange;
}

.schoolname,
.sel1,
.sel2,
.sel3,
.sel4,
.sel5 {
  font-weight: bold;
}

.result-title {
  text-align: center;
}

.foundschool {
  width: 100%;
}
